services:
  jenkins:
    build: .
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    environment:
      - CASC_JENKINS_CONFIG=/var/jenkins_home/casc_configs/configuration.yml
    volumes:
      - jenkins_data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
      - ./configuration.yml:/var/jenkins_home/casc_configs/configuration.yml
      - ./job_dsl.groovy:/var/jenkins_home/casc_configs/job_dsl.groovy
    restart: unless-stopped

volumes:
  jenkins_data: